<h1>Hi, <%=current_user.name%> </h1>

<h2>Make a Map:</h2>
<form id="map-form" action="/maps" method="POST">
  <input type='text' name="map[user_text]">
  <input type='submit' value="Create Map">
</form>
<br>

<div id="map-canvas"></div>


